@charset "utf-8";

@import "variables";
@import "mixins";
@import "posts";
@import "includes/main";
@import "layouts/main";

* {
  box-sizing: border-box;
}

body {
  font-family: Inter, Helvetica, Arial, sans-serif;
  background: $bg-color;
  color: #fff;
  margin: 0;
  display: flex;
  flex-direction: column;

  &.no-scroll {
    overflow: hidden;
  }
}
